header{
    background-color: #191e27;
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
}
.header-container{

    width: 80%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;

}
.header-name a{
    color: white;
    text-decoration: none;
}
.header-name{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    margin-right: 3rem;
    color: white;
}
.header-name span{
    color: #f54a7a;
}

.navigation{
    margin-left: 3rem;
    display: flex;
    color: #b4bdc9;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    font-family: serif;
    font-size: 1.2rem;
}

.loginText{
    color: #b4bdc9;
    margin-left: 7rem;
}
.scrollLink{
    cursor: pointer;
    margin: 0;
}