.ticketsForm-container{
    width: 100%;
    height: 30rem;
    background: #272a33;
    display: flex;
    justify-content: center;
    align-items: center;

}
.ticketsForm{
    border: 2rem red;
    display: flex;
    justify-content: center;
    align-items: center;

}
.ticketsForm-phrase{
    color: white;
    font-size: 2.5rem;
}