.container-for-ticket{
    height: 100%;
    width: 100%;
    min-height: 13rem;
    background-color: #272a33;
}
.ticket{
    height: 100%;
    width: 100%;
    display: flex;
    padding-top: 2rem;
    justify-content: center;


}

.flights-reservation-container{
    height: 100%;
    width: 100%;
    min-height: 50rem;
    background-color: #272a33;
    display: flex;
    align-items: center;
    flex-direction: column;

}
.flights-reservation-forms{
    width: 70%;
}
.flights-reservation-button{
    align-items: center;
    background-clip: padding-box;
    background-color: #f54a7a;
    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin-top: 1rem;
    min-height: 4rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: 15rem;
    height: 3rem;
}


.flights-reservation-button:hover,
.flights-reservation-button:focus {
    background-color: #d73f69;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.flights-reservation-button:hover {
    transform: translateY(-1px);
}

.flights-reservation-button:active {
    background-color: #9b2745;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
}