.choose-container{
    height: 100%;
    width: 100%;
    min-height: 50rem;
    background-color: #272a33;
}
.tickets-container{
    height: 100%;
    width: 100%;
    min-height: 50rem;
    display: flex;
    padding-top: 2rem;

    align-items: center;
    flex-direction: column;
    gap: 2rem;

}
.tickets-container:last-child{
    padding-bottom: 2rem;
}

